@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Verydark_desaturated-blue: hsl(229, 23%, 23%);
    --Dark_grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: -230px -500px, 650px 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

p {
    font-weight: 400;
}

.container {
    box-shadow: 3px 8px 64px 1px rgb(99, 98, 98);
    width: 325px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.banner img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img {
    border-radius: 50%;
    border: 5px solid #ffffff;
    transform: translateY(-50px);
}

.name-age {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-city {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-40px);
}

#age {
    font-size: 1.35rem;
    opacity: 0.6;
    margin-left: 0.5rem;
}

hr {
    transform: translateY(-20px);
}

.foots {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.follows,
.likes,
.photos {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.follows h2,
.likes h2,
.photos h2 {
    font-size: 1.1rem;
}

.follows p,
.likes p,
.photos p {
    font-size: 0.8rem;
    opacity: 0.6;
}

#creditText {
    display: flex;
    background-color: #ffffff;
    position: absolute;
    margin-top: 35rem;
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
    align-items: center;

}

#creditText a {
    text-decoration: none;
    margin: 0 0.25rem;
}

@media screen and (max-width:600px) {
    #creditText {
        max-width: 180px;
    }
}
